<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Alumnos por Facultad
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
      <ion-label>Carrera</ion-label>
      <ion-select multiple="false" interface="popover" placeholder="Seleccione una facultad" (ionChange)="getAlumnos()" [(ngModel)]="id_carrera_seleccionada" >
        <ion-select-option  *ngFor="let facu of list_facu"  [value]="facu.carrera_id">{{facu.nombre}}</ion-select-option>

      </ion-select>
    </ion-item>

<ion-list>
  <ion-item *ngFor="let alumno of list_alumno" (click)="motrarDatosAlumno(alumno)" >
    <ion-label>{{alumno.nombre}} {{alumno.apellido}}</ion-label>
  </ion-item>
</ion-list>

</ion-content>
